In [2]:
import pandas as pd

purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [3]:
df['Name']

Store 1    Chris
Store 1    Kevyn
Store 2    Vinod
Name: Name, dtype: object

In [4]:
df['Name'][df['Cost']>3]    # return names of people who made purchases greater than $3

Store 1    Chris
Store 2    Vinod
Name: Name, dtype: object

In [6]:
df['Item Purchased'][df['Cost']>3]

Store 1     Dog Food
Store 2    Bird Seed
Name: Item Purchased, dtype: object

In [7]:
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [8]:
df = df.set_index([df.index, 'Name'])   # reindex by Store, then by person.  
df.index.names = ['Location', 'Name']   # Name indexes "Location" and "Name"
df.head()

               Item Purchased  Cost
Location Name
Store 1  Chris       Dog Food  22.5
         Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [10]:
df = df.append(pd.Series(data={'Cost': 3.00, 'Item Purchased': 'Kitty Food'},name=('Store 2', 'Kevyn')))    # add a new entry 
df

               Item Purchased  Cost
Location Name
Store 1  Chris       Dog Food  22.5
         Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0
         Kevyn     Kitty Food   3.0